@model WebRozgar.ViewModels.MyProfileViewModel
@{
    ViewBag.Title = "Profile";
}
<div class="row-fluid" style="margin-top: 10px;">
    <div class="span2">
        @if (User.IsInRole("seeker"))
        {
            <img src="~/img/employee.png" style="height: 145px; width: 145px;" />
        }
        else
        {
            <img src="~/img/employer.jpg" style="height: 145px; width: 145px;" />
        }
    </div>
    <div class="span9" style="margin-top: 20px; margin-left: -5px">
        <a style="text-decoration:none" href="@Url.Action("Profile", "My", new { Id = User.Identity.Name })">
            <p style="color: #36a0d6; font-size: 40px; font-family: 'Segoe UI';">@Model.FirstName @Model.LastName</p>
            <p>&#64 @User.Identity.Name</p>
        </a>
        <div class="row-fluid" style="margin-top: 38px;">
            <div class="tabbable">
                <ul class="nav nav-tabs">
                    <li class="active">@Html.ActionLink("About me", "Profile")</li>
                    <li>@Html.ActionLink("Resume", "Resume", "My")</li>
                    <li>@Html.ActionLink("Applications", "ApplicationStatus", "My")</li>
                    <li>@Html.ActionLink("Available jobs", "AvailableJobs", "Jobs")</li>
                    <li>@Html.ActionLink("Settings", "Manage", "Account")</li>
                </ul>
            </div>
        </div>
    </div>
</div>
<div class="row-fluid" style="margin-top: 30px;">
    <div class="span11">
        <div class="tabbable">
            <div class="tab-content" style="min-height: 250px;">
                <div class="tab-pane active">
                    <p>Hello Everyone!!!!</p>
                    <p>I am @Model.FirstName @Model.LastName .I have done @Model.Education from @Model.University .</p>
                    @if (Model.WorkExperience == "Fresher")
                    {
                        <p>I am fresher and hoping for better future.</p>
                    }
                    else
                    {
                        <p>I have glorious experince of @Model.WorkExperience .</p>
                    }
                    <p><strong>More about me :</strong></p>
                    <p>@Model.Bio</p>
                </div>
            </div>
        </div>
    </div>
</div>
