@model WebRozgar.ViewModels.ChangePasswordViewModel

@{
    ViewBag.Title = "Account Settings";
}

<hgroup class="title">
    <p style="font-size: 30px; color: #36a0d6; margin-top: 30px;">@ViewBag.Title</p>
</hgroup>

<div class="row-fluid" style="margin-top: 40px;">
    <div class="tabbable">
        <ul class="nav nav-tabs">
            <li>@Html.ActionLink("Update Profile", "Manage", "Account")</li>
            <li class="active">@Html.ActionLink("Change Password", "ChangePassword", "Account")</li>
            <li>@Html.ActionLink("Back to Profile", "Profile", "My")</li>
            
        </ul>
        <div class="tab-content" style="min-height: 250px;">
            <div class="tab-pane active" id="tab1">
                @using (Ajax.BeginForm("ChangePassword", new AjaxOptions() { UpdateTargetId = "updatestatus", HttpMethod = "Post", OnSuccess = "ShowGreenStatus", OnFailure = "ShowRedStatus" }))
                {
                    @Html.AntiForgeryToken()
                    <fieldset class="form-horizontal">
                        <legend></legend>
                        <div class="control-group">
                            @Html.LabelFor(m => m.OldPassword, new { @class = "control-label" })
                            <div class="controls">
                                @Html.PasswordFor(m => m.OldPassword)
                                @Html.ValidationMessageFor(m => m.OldPassword, null, new { @class = "help-inline" })
                            </div>
                        </div>
                        <div class="control-group">
                            @Html.LabelFor(m => m.NewPassword, new { @class = "control-label" })
                            <div class="controls">
                                @Html.PasswordFor(m => m.NewPassword)
                                @Html.ValidationMessageFor(m => m.NewPassword, null, new { @class = "help-inline" })
                            </div>
                        </div>
                        <div class="control-group">
                            @Html.LabelFor(m => m.ConfirmNewPassword, new { @class = "control-label" })
                            <div class="controls">
                                @Html.PasswordFor(m => m.ConfirmNewPassword)
                                @Html.ValidationMessageFor(m => m.ConfirmNewPassword, null, new { @class = "help-inline" })
                            </div>
                        </div>
                        <div class="form-actions no-color">
                            <input type="submit" value="Change Password" class="btn btn-success" />
                        </div>

                        <div class="control-group">
                            <p id="updatestatus"></p>
                            <img src="~/img/ajax-loader.gif" class="loadingindicator" />
                        </div>
                    </fieldset>
                }
            </div>
        </div>
    </div>
</div>
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
<script type="text/javascript">
    function ShowGreenStatus() {
        $('#updatestatus').removeClass('well').addClass('alert alert-success');
        //        $('#updatestatus').text("Profile updated successfully!!!");
    };
    function ShowRedStatus() {
        $('#updatestatus').removeClass('well').addClass('alert alert-error');
        $('#updatestatus').text("An error has occured while processing your request");
    };
</script>
